<h1> Create a new worker </h1>
<hr>

<h2>
	<%= simple_form_for @worker do |f| %> 
		
		<%= f.input :name %>
<p>
		<%= f.input :position %></p>
<p>
		<%= f.input :avatar, as: :file %></p>
<p>
		<%= f.submit "Add a new worker" %></p>

	<% end %>
</h2>
